.popup p {
  font-size: 15px;
}

.popup .pu-toggle {
  display: inline-block;
  margin-right: 15px;
}

.popup .pu-toggle-label {
  display: inline-block;
  margin: .4em 0;
}

.popup .pu-footer {
  margin-top: 18px;
}

.popup .pu-footer p {
  font-size: 10px;
}