@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');


#cm .cm-content {
  padding: 10px 25px 30px 25px;
}

#cm hr {
  color: #ddd;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
}

#cm .cm-title {
  margin: 10px 0;
}

#cm .cm-ks-wrapper {
  font-size: 14px;
  width: 100%;
}

#cm p {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #777;
}

#cm .cm-ks-section {
  padding: 10px 0 5px 0;
}

#cm .cm-ks-section-title {
  margin-bottom: 8px;
}

#cm .cm-ks-section-desc {
  font-style: italic;
  color: #777;
}

#cm .cm-ks-row {
  margin: 2px 0;
}

#cm .cm-ks-action {
  display: inline-block;
  width: 180px;
  margin-right: 5px;
  color: #777;
  padding: 3px 0;
}

#cm .cm-ks-keys {
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  color: #b881e6;
  background-color: #faf7fc;
  border-radius: 2px;
  padding: 4px 8px;
}